<div class="flip-card">
  <div class="flip-card-inner">
    <div class="flip-card-front">
      <img src="assets/card_front_{{ getDesignNumber() }}.svg" alt="Avatar" />
    </div>
    <div class="flip-card-back">
      <h1
        nxHeadline="subsection-medium"
        style="width: 280px; font-weight: bold;"
        class="nx-margin-bottom-m"
      >
        {{ cardData.headline }}
      </h1>
      <p class="cardtext">{{ cardData.text }}</p>
      <span class="firstname">{{ cardData.firstName }}</span>
      <span class="lastname">{{ cardData.lastName }}</span>
    </div>
  </div>
</div>
